# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Model weights
mandatory/theta0
mandatory/theta1
bonus/theta0
bonus/theta1

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
